/*paleta de colores*/

/*
#FEA405 amarillo ocuro
#C5EBAA verde claro
#F6F193 amarillo claro
#FFBC4C amarillo medio
*/

/*fuente font-family: Arial, Helvetica, sans-serif;*/
/*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
$amarillo-oscuro: #FEA405;
$amarillo-claro: #F6F193;
$amarillo-medio: #FFBC4C;
$color-texto: #000000;
$fuente-principal: Arial, Helvetica, sans-serif;
$fuente-secundaria: Verdana, Geneva, Tahoma, sans-serif;

/*@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
@mixin wid-hei ($width, $height) {
    width: $width;
    height: $height;
}


